[Desktop Entry]
Name=Gelly
Type=Application
Exec=gelly
Comment=Jellyfin and Subsonic music player
Icon=io.m51.Gelly
Terminal=false
GenericName=Jellyfin and Subsonic music player
StartupNotify=true
Categories=GNOME;GTK;Audio;AudioVideo;
Keywords=Jellyfin;Subsonic;Navidrome;Music;Stream;
