.song {
    padding: 12px;
}

.song-link {
    font-weight: normal;
    padding: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
}

.album-image-frame {
    border-radius: 12px;
}

progressbar.osd {
    margin-top: 3em;
}

.current-lyric {
    font-weight: bold;
}
