.song {
    padding: 12px;
}

.song-playing {
    border-left: 4px solid @theme_selected_bg_color;
    background-color: alpha(@theme_selected_bg_color, 0.08);
    padding-left: 7px; /* 12 minus border-left */
}

.song-link {
    font-weight: normal;
    padding: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
}

.album-image-frame {
    border-radius: 12px;
}

progressbar.osd {
    margin-top: 3em;
}

.current-lyric {
    font-weight: bold;
}

.banner-gradient {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0.2) 70%,
        rgba(0, 0, 0, 0) 100%
    );
}

.banner-gradient label {
    color: white;
}

listview.boxed-list {
    background-color: @card_bg_color;
    border: 1px solid alpha(@borders, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

listview.boxed-list > row {
    border-top: 1px solid alpha(@borders, 0.5);
    background-color: transparent;
}

listview.boxed-list > row:hover {
    background-color: alpha(currentColor, 0.05);
}
